language: c
script: bash -e .travis-ci.sh
os:
- linux
- osx
env:
  global:
    - OPAM_VERSION=1.1.0
  matrix:
    - OCAML_VERSION=4.02.0
    - OCAML_VERSION=4.01.0
    - OCAML_VERSION=4.00.1
matrix:
  exclude:
    - os: osx
      env: OCAML_VERSION=4.00.1
